
body{
    margin: 0px;
    padding: 0px;
}

.borderClass {
    border-color: brown;
    border-style: solid;
}

.drag {
    height: 55px;
    width: 55px;
    border: 2px solid black;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    /* data-attribute: window . location = $(this) . data("location"); */

}

.drop {
    height: 55px;
    width: 55px;
    border: 2px solid black;
    float: left;
    /* data-attribute: window . location = $(this) . data("location"); */

}

.content {
    max-width: 650px;
    margin: auto;
    background: white;
    padding: 10px;
}

.container {
     width: 650px;
     float: left;
     border: none;
     text-align: center;
 }

.handTiles {
    width: 650px;
    float: left;
    border: none;
    text-align: center;
}

image {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;

}

img.avatar {
    width: 40%;
    border-radius: 100%;
}

.container button {
    display: inline-block;
}

.handTiles button {
    display: inline-block;
}

#menu {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 8px;
}

#exit {
    background-color: #d11c12;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 8px;
    cursor: pointer;
}

#exchange {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 14pt;
    border: 5px solid transparent;
    cursor: pointer;
    width: 30%;
    border-radius: 8px;
}

#shuffle {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 14pt;
    border: 5px solid transparent;
    cursor: pointer;
    width: 30%;
    border-radius: 8px;
}

#recall {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 14pt;
    border: 5px solid transparent;
    cursor: pointer;
    width: 15%;
    border-radius: 8px;
}

#confirmed {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 14pt;
    border: 5px solid transparent;
    cursor: pointer;
    width: 15%;
    border-radius: 8px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:focus,
input:focus {
    outline: none;
}

#exit {
    float: left;
    width: 100px;
    height: 50px;
    font-size: 14pt;
}

#menu {
    float: right;
    width: 100px;
    height: 50px;
    font-size: 14pt;
}

.score-board {
    text-align: center;
    padding: 10px;
}

.player1 {
    display: inline-block;
    padding: 30px;
    color: green;

}

.player2 {
    display: inline-block;
    padding: 30px;
    color: gold;

}

.player1 h4 {
    font-weight: bold;
}

.score-box {
    border: 3px solid black;
    padding: 20px;
    color: white;
    font-size: 25px;
    background-color: green;
    border-radius: 8px;

}

.turn-box {
    border: 3px solid black;
    padding: 20px;
    color: white;
    font-size: 25px;
    background-color: gold;
    border-radius: 8px;

}


.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 200%;
    height: 200%;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width:100%;
    height: 50%;
    padding: 16px;
    border: 6px solid green;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.containers{
    width: 3300px;
    float: left;
    border: none;
    text-align: center;

}

.special
{
    height:55px;
    width: 55px;
    border: 2px solid black;
    float: left;
    margin-top:20px;
    margin-left: 20px;
    data-attribute: window.location = $(this).data("location");
}

#specialOverlay {
    position: fixed; /* Sit on top of the page content */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}

.specialBox {
    position: absolute;
    z-index: 0;
    width: 420px;
    height: 420px;
    background: white;
    border: 6px solid green;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 1002;
    overflow: auto;
}

