.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.handTiles {
    float: left;
    border: none;
    text-align: center;
    
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    float:left;
}
	
	#myProgress {
  width: 100%;
  background-color: #C19A24;
}
#myBar {
  width: 5%;
  height: 30px;
  background-color: #F3F3F3;
  text-align: center;
  line-height: 30px;
  color: #C19A24;
  font-weight: bold;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}


.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width:100%;
  height: 100%;
  background-color: black;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 420px;
    padding: 16px;
    border: 6px solid #2A6342;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
#fade { 
 position: fixed; /* Sit on top of the page content */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}

.containers {
    width: auto;
    float: left;
    border: none;
    text-align: center;
}

	.special
	{
		height:55px;
		width: 55px;
		border: 2px solid black;
		float: left;
		margin-top:20px;
		margin-left: 20px;
			
		
	}
	
	
	#specialOverlay {
    position: fixed; /* Sit on top of the page content */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}


	.specialBox {
    position: absolute;
    z-index: 0;
    width: 500px;
    height: 420px;
    background: white;
    border: 6px solid green;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 20px;
  z-index: 1002;
  overflow: auto;
}
	.section1 {
    color: #FFCC33;
    background-color: #1A3F28;
    text-align: center;
    height: 40px;
    padding: 0px;
    margin: 0px;
}

.section2 {
    background-color: #4D4D4D;
    text-align: center;
    height: 150px;
    padding: 0px;
    margin: 0px;
}

.section3 {
    color: #FFCC33;
    background-color: #1A3F28;
    text-align: center;
    height: 30px;
    padding: 0px;
    margin: 0px;
}

.section4 {
    color: #FFCC33;
    background-color: #1A3F28;
    text-align: center;
    height: 115px;
    padding: 0px;
    margin: 0px;
    
}

.section5 {
    color: #FFCC33;
    background-color: #2A6342;
    text-align: center;
    height: 30px;
    padding: 0px;
    margin: 0px;
}
.section7 {
    color: #FFCC33;
    background-color: #1A3F28;
    text-align: center;
    height: "100%";
    padding: 0px;
    margin: 0px;
}
	.borderClass{
    border-color:brown;
    border-style:solid;
}

	.drag
	{
		height:55px;
		width: 55px;
		border: 2px solid black;
		float: left;
		margin-top:20px;
		margin-left: 30px;
		border-radius: 5px;
		    background-color: #FFCC33;
		
		
	}
	#specialTilediv
	{
		height:55px;
		width: auto;
		float: left;
		margin-top:100px;
		
		
	}
	.drop
	{
		height:55px;
		width:55px;
		border: 2px solid black;
		float: left;
		text-align: center;
		vertical-align: middle;
		line-height: 55px;
		font-size: 25px;
		font-weight: bold;
		border-radius: 5px;
/* 		    		    background-color: #d1d1d1; */
		    
		
		
	}
		
		.buttonss {
			text-align: center;
   font-size: 25px;
		        font-weight: bold;
	}
		
	img .drag{
	max-width: 55px;
    max-height: 55px;
     border-radius: 5px;
      
    
    
	}
	img .drop{
	max-width: 55px;
    max-height: 55px;
     border-radius: 5px;
      
    
    
	}
	
.content {
    margin: auto;
    background: white;
}

.container {
    width: 650px;
    float: left;
    border: none;
    text-align: center;
}
		
	body{
    margin: 0px;
    padding: 0px;
    max-width: 650px;
    margin: auto;
}
	
	
	
body {font-family: Arial, Helvetica, sans-serif;}
		

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    
}

img.avatar {
    width: 40%;
    border-radius: 100%;
    
}

.container button{
    display: inline-block;
}
.handTiles button {
    display: inline-block;
}

#exit {
    background-color: #4D4D4D;
    color: white;
    margin: 22px 8px 8px 8px;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 8px;
    float: left;
}

#help {
    background-color: #4D4D4D;
    color: white;
    margin: 22px 8px 8px 8px;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 8px;
    float: right;
}

#exchange {
    background-color: #1A3F28;
    color: white;
    margin: 20px 120px 8px 22px;
    border: none;
    cursor: pointer;
    width: 12%;
    border-radius: 8px;
}

#shuffle {
    background-color: #1A3F28;
    color: white;
    margin: 20px 8px 8px 8px;
    border: none;
    cursor: pointer;
    width: 12%;
    border-radius: 8px;
}

#recall {
    background-color: #1A3F28;
    color: white;
    margin: 20px 8px 8px 22px;
    border: none;
    cursor: pointer;
    width: 12%;
    border-radius: 8px;
    float: left;
}

#confirmed {
    background-color: #1A3F28;
    color: white;
    margin: 20px 22px 8px 8px;
    border: none;
    cursor: pointer;
    width: 12%;
    border-radius: 8px;
    float: right;
}
button:hover {
    opacity: 0.8;
}
button:active {
  background-color: #3e8e41;
  box-shadow:0  5px #666;
  transform: translateY(4px);
}
button:focus, input:focus{
    outline: none !important;
}


.score-box {
    color: #FFCC33;
    font-size: 40px;
    font-weight: bold;
    padding: 35px;
    margin: 0px;
}

.containers {
    width: auto;
    float: left;
    border: none;
    text-align: center;
}


.handTiles {
    float: left;
    border: none;
    text-align: center;
}

#n {

padding: 10px
}
#t {

padding: 10px
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}

.loginbox {
    position: absolute;
    z-index: 0;
    width: 320px;
    height: 420px;
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
